{% extends 'admin/master.html' %}
{% block body %}
<div class="row">
    <div class="card" style="position: relative; width:90%; margin:auto; text-align: center;">
        <div class="card-header bg-primary">
            <h5 class="text-white" style="text-align: center;">BÁO CÁO TỔNG KẾT HỌC KỲ</h5>
        </div>
    </div>

    <div style="background: white; height: 0px; padding-top:10px; padding-bottom:-30px; position: relative;
                width:90%; margin:auto; text-align: center;"></div>
</div>
<div class="row">
    <div class="card"
         style="background: white; height: 40px; padding-top:10px; padding-bottom:-30px; position: relative; width:90%; margin:auto; text-align: center;">
        <div class="form-group row pb-5" style="padding-bottom: -50px;">
            <div class="col-sm-4">
                <div class="form-group row pb-5">
                    <div class="col-sm-3">
                        <h6 class="text-primary"><b>Học kỳ:</b></h6>
                    </div>
                    <div class="col-sm-9">
                        <h6 style="text-align: left;">{{semester}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row pb-5">
                    <div class="col-sm-4">
                        <h6 class="text-primary"><b>Năm học:</b></h6>
                    </div>
                    <div class="col-sm-8">
                        <h6 style="text-align: left;">{{schoolYear}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card"
         style="background: white; padding-top:10px; padding-bottom:-30px; position: relative; width:90%; margin:auto; ">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Mã HS</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Điểm trung bình</th>
                    <th scope="col">Học lực</th>
                </tr>
                </thead>
                <tbody>
                {% for item in allInfoStudentReport%}
                <tr>
                    <td>{{item.Id}}</td>
                    <td>{{item.FullName}}</td>
                    <td>{{item.Avg}}</td>
                    <td>{{item.Rank}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}