
{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}
{% import 'admin/actions.html' as actionlib with context %}
{% import 'admin/model/row_actions.html' as row_actions with context %}
{% from 'admin/lib.html' import extra with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
    <!-- CSS FOR DATATABLE -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
    
    <!-- ADD SCRIPT FOR DATATABLE -->

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
     -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap4-editable/css/bootstrap-editable.css"> -->
    <style>
        #loading-bar-spinner.spinner {
            left: 50%;
            margin-left: -20px;
            top: 50%;
            margin-top: -20px;
            position: absolute;
            z-index: 19 !important;
            animation: loading-bar-spinner 400ms linear infinite;
        }

        #loading-bar-spinner.spinner .spinner-icon {
            width: 40px;
            height: 40px;
            border:  solid 4px transparent;
            border-top-color:  #00C8B1 !important;
            border-left-color: #00C8B1 !important;
            border-radius: 50%;
        }

        @keyframes loading-bar-spinner {
          0%   { transform: rotate(0deg);   transform: rotate(0deg); }
          100% { transform: rotate(360deg); transform: rotate(360deg); }
      }
        .container {
            padding: 2rem 0rem;
        }

        h4 {
            margin: 2rem 0rem 1rem;
        }

        .table-image {
            td, th {
                vertical-align: middle;
            }
        }
        .table-wrap {
          overflow-x: scroll; }
        .table {
            min-width: 1000px !important;
            width: 100%;
            background: #fff;
            -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
            -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
            text-align: center; }
            .table thead th {
            border: none;
            padding: 30px;
            font-size: 14px;
            color: #000; }
            .table tbody tr {
            margin-bottom: 10px; }
            .table tbody td {
            font-size: 14px;
            background: #fff;
            vertical-align: middle;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s; }
            @media (prefers-reduced-motion: reduce) {
            .table tbody td {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
            .table tbody td i {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.3); }
            .table tbody td .img {
            width: 200px;
            height: 200px;
            margin: 0 auto; }
            .table tbody td a {
            display: block;
            color: #ffafb0;
            font-size: 12px; }
            .table tbody td a strong {
            font-size: 1rem;
            font-weight: 600;
            color: #666666; }
            .table tbody td:hover {
            background: whitesmoke; }
            .table tfoot tr th a {
            font-weight: 400;
            color: #000; }
            .table tfoot tr th a i {
            font-size: 12px; }
            .table tfoot tr th a:hover {
            color: #ffafb0; 
        }
        .table-bordered {
          border: 1px solid #dee2e6; }
          .table-bordered th,
          .table-bordered td {
            border: 1px solid #dee2e6; }
            .table-bordered thead th,
            .table-bordered thead td {
                border-bottom-width: 2px; }
        img {
          vertical-align: middle;
          border-style: none; }
          .img {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center; }

    </style>
    
    {% endblock %}

{% block body %}    
    <div class="flash-msg">
        
    </div> 
    
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
      
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link active">{{ _gettext('List') }}{% if count %} ({{ count }}){% endif %}</a>
        </li>

        {% if admin_view.can_create %}
        <li class="nav-item">
          {%- if admin_view.create_modal -%}
            {{ lib.add_modal_button(url=get_url('.create_view', url=return_url, modal=True), btn_class='nav-link', title=_gettext('Create New Record'), content=_gettext('Create')) }}
          {% else %}
            <a href="{{ get_url('.create_view', url=return_url) }}" title="{{ _gettext('Create New Record') }}" class="nav-link">{{ _gettext('Create') }}</a>
          {%- endif -%}
        </li>
        {% endif %}

        {% if admin_view.can_export %}
            {{ model_layout.export_options() }}
        {% endif %}

        {% block model_menu_bar_before_filters %}{% endblock %}

        {% if filters %}
        <li class="nav-item dropdown">
            {{ model_layout.filter_options() }}
        </li>
        {% endif %}

        {% if can_set_page_size %}
        <li class="nav-item dropdown">
            {{ model_layout.page_size_form(page_size_url) }}
        </li>
        {% endif %}

        {% if actions %}
        <li class="nav-item dropdown">
            {{ actionlib.dropdown(actions) }}
        </li>
        {% endif %}

        {% if search_supported %}
        <li class="nav-item ml-2">
            {{ model_layout.search_form() }}
        </li>
        {% endif %}
        {% block model_menu_bar_after_filters %}{% endblock %}
    </ul>
    {% endblock %}

    {% if filters %}
        {{ model_layout.filter_form() }}
        <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}
    <!-- <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    
                    {% for c, name in list_columns %}
                    {% set column = loop.index0 %}
                    <th class="column-header col-{{c}}">
                        {% if admin_view.is_sortable(c) %}
                            {% if sort_column == column %}
                                <a href="{{ sort_url(column, True) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">
                                    {{ name }}
                                    {% if sort_desc %}
                                        <span class="fa fa-chevron-up glyphicon glyphicon-chevron-up"></span>
                                    {% else %}
                                        <span class="fa fa-chevron-down glyphicon glyphicon-chevron-down"></span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{{ sort_url(column) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                            {% endif %}
                        {% else %}
                            {{ name }}
                        {% endif %}
                        {% if admin_view.column_descriptions.get(c) %}
                            <a class="fa fa-question-circle glyphicon glyphicon-question-sign"
                               title="{{ admin_view.column_descriptions[c] }}"
                               href="javascript:void(0)" data-role="tooltip"
                            ></a>
                        {% endif %}
                    </th>
                    {% endfor %}
                    {% if actions %}
                    <th class="list-checkbox-column">
                        <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ _gettext('Select all records') }}" />
                    </th>
                    {% endif %}
                    {% block list_row_actions_header %}
                        {% if admin_view.column_display_actions %}
                        <th class="">&nbsp;</th>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            {% block list_row scoped %}
                

                {% for c, name in list_columns %}
                    <td class="col-{{c}}">
                    {% if admin_view.is_editable(c) %}
                        {% set form = list_forms[get_pk_value(row)] %}
                        {% if form.csrf_token %}
                        {{ form[c](pk=get_pk_value(row), display_value=get_value(row, c), csrf=form.csrf_token._value()) }}
                        {% elif csrf_token %}
                        {{ form[c](pk=get_pk_value(row), display_value=get_value(row, c), csrf=csrf_token()) }}
                        {% else %}
                        {{ form[c](pk=get_pk_value(row), display_value=get_value(row, c)) }}
                        {% endif %}
                    {% else %}
                    {{ get_value(row, c) }}
                    {% endif %}
                    </td>
                {% endfor %}
                {% if actions %}
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
                </td>
                {% endif %}
                {% block list_row_actions_column scoped %}
                    {% if admin_view.column_display_actions %}
                    <td class="list-buttons-column">
                        {% block list_row_actions scoped %}
                          {% for action in list_row_actions %}
                          {{ action.render_ctx(get_pk_value(row), row) }}
                          {% endfor %}
                        {% endblock %}
                    </td>
                    {%- endif -%}
                {% endblock %}
            {% endblock %}
        </tr>
        {% else %}
        <tr>
            <td colspan="999">
                {% block empty_list_message %}
                <div class="text-center">
                    {{ admin_view.get_empty_list_message() }}
                </div>
                {% endblock %}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div> -->

    

    {% block list_pager %}
    {% if num_pages is not none %}
    {{ lib.pager(page, num_pages, pager_url) }}
    {% else %}
    {{ lib.simple_pager(page, data|length == page_size, pager_url) }}
    {% endif %}
    {% endblock %}
    {% endblock %}

    {% block actions %}
    {{ actionlib.form(actions, get_url('.action_view')) }}
    {% endblock %}

    {%- if admin_view.edit_modal or admin_view.create_modal or admin_view.details_modal -%}
        {{ lib.add_modal_window() }}
    {%- endif -%}

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <div class="table-wrap">
                <table id="resume-table" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            {% for field in fields %}
                            <th>{{ field.field_name}}</th>
                            {% endfor %}
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id='table-body'>
                        {% for row in resumes %}
                        <tr id="row-{{ row['id'] }}" data-index="{{loop.index}}">
                            <td><a href="#"><strong>{{ row['id'] }}</strong></a></td>
                            <td ><a href="#"><strong>{{ row['full_name'] }}</strong></a></td>
                            {% for fields_image in row['fieldsImage'] %}
                            <td class="text-center"><div class="img " style="background-image: url({{fields_image}});"></div>
                            {% endfor %}
                            <td>
                                <button data-id="{{row['id']}}" data-action="confirm" class="btn btn-success" onclick="ResumeHandler(this)"><i class="icofont icofont-check" style="font-size: inherit; color: inherit;"></i>Duyệt</button>

                                <button data-id="{{row['id']}}" data-action="reject" class="btn btn-danger" onclick="ResumeHandler(this)"><i class="icofont icofont-close" style="font-size: inherit; color: inherit;">Từ chối</i></button>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        
        
                
    
{% endblock %}

{% block tail %}
   

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/bootstrap4-editable/js/bootstrap-editable.min.js"></script>

    {{ super() }}

   <script type="text/javascript" language="javascript">
        function sleeper(ms) {
            return function(x) {
                return new Promise(resolve => setTimeout(() => resolve(x), ms));
            };
        }
        var table = document.getElementById('resume-table');
        var reloadHTML = `
                        <div id="loading-bar-spinner" class="spinner" style="margin-top: 50px;"><div class="spinner-icon"></div></div></td>
                        
                    `;

        function ResumeHandler(element){
            let resumeId = element.getAttribute('data-id');
            let parentElement = element.closest(`#row-${resumeId}`);
            
            let temp = document.getElementById('table-body').innerHTML;

            fetch("{{ url_for('edu_office_resume.handler_ajax') }}",{
                method: "post",
                body: JSON.stringify({
                    "resume_id": element.getAttribute('data-id'),
                    "action": element.getAttribute('data-action')
                }),
                headers: {
                    "content-type": "application/json"
                }
            }).then(function(response){
                if(response.ok){
                    table.deleteRow(parentElement.getAttribute('data-index'));
                    temp = document.getElementById('table-body').innerHTML;
                }
                document.getElementById('table-body').innerHTML = reloadHTML;
                return response.json();
            })
            .then(sleeper(500))
            .then(json => {
                container = document.querySelector('.flash-msg');
                container.innerHTML = `<div class="alert alert-${json.category}">
                <button class="m1-2 mb-1 close " type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                ${json.msg}
                </div>`;
                document.getElementById('table-body').innerHTML = temp;
                
            });
        }
    </script>

    {% if filter_groups %}
      <div id="filter-groups-data" style="display:none;">{{ filter_groups|tojson|safe }}</div>
      <div id="active-filters-data" style="display:none;">{{ active_filters|tojson|safe }}</div>
    {% endif %}
    {{ lib.form_js() }}
    <script src="{{ admin_static.url(filename='admin/js/bs4_modal.js', v='1.0.0') }}"></script>
    <script src="{{ admin_static.url(filename='admin/js/bs4_filters.js', v='1.0.0') }}"></script>
    

    {{ actionlib.script(_gettext('Please select at least one record.'),
                        actions,
                        actions_confirmation) }}
{% endblock %}

