{% extends 'base.html' %}
{% block title %}
UTE - Mật Khẩu Mới
{% endblock %}
{% block content %}
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">
                        <div style="background: white;">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 style="color: black" class="h4 text-gray-900 mb-2">New Password</h1>
                                </div>
                                <form method="POST" action="{{url_for('forgot_change')}}" class="user">
                                    <div class="form-group">
                                        <input name="new_password" type="password" class="form-control form-control-user"
                                               id="new_password" aria-describedby="emailHelp"
                                               placeholder="Enter Password">
                                    </div>
                                    <div class="form-group">
                                        <input name="confirm_new_password" type="password" class="form-control form-control-user"
                                               id="confirm_new_password" aria-describedby="emailHelp"
                                               placeholder="Confirm Enter Password">
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Reset Password">
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of container-fluid -->
</section>
{% endblock %}
<script src="static/confirm/vendor/jquery/jquery.min.js"></script>
<script src="static/confirm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/confirm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/confirm/js/sb-admin-2.min.js"></script>
{% block tail_js %}


{% endblock %}
