<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confirm Student</title>

    <!-- Custom fonts for this template-->
    <link href="/static/confirm/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/confirm/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
    </style>
</head>

<body class="bg-gradient-primary">

<div class="container" style="height:auto;">
    <form class="user" action="{{url_for('_confirmStudent.submit')}}" method="POST" enctype="multipart/form-data">
        <div style="color:white; margin-top:45px; margin-bottom:-20px; font-size: 50px; text-align:center; font-size:300%">
            <p>HIKI SCHOOL</p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages%}
                <div class="alert alert-{{category}}">
                    <button class="m1-2 mb-1 close " type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
                {% endfor%}
            {% endif %}
        {% endwith %}     
        
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <img style="height: 200px;  position: relative; padding-top:0px; margin-bottom:-20px; margin-left:350px; border-radius: 50%;"
                                 src="/static/assets/images/Cartoon Color Simple Male Avatar, Person, Man, Avatar PNG and Vector with Transparent Background for Free Download.jpg" alt="Avatar">
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.full_name}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.birthdate}}</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group row pb-5">
                                            <div class="col-sm-4">
                                                <div style="text-align:center"
                                                     class="custom-control custom-checkbox small">
                                                    {% if current_user.user.gender.gender_name == "Nam"%}
                                                    <input type="checkbox" class="custom-control-input" checked="True"
                                                           id="checkMale">
                                                    {% else %}
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="checkMale">
                                                    {% endif %}

                                                    <label class="custom-control-label" for="checkMale">Male</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="custom-control custom-checkbox small">
                                                    {% if current_user.user.gender.gender_name == "Nữ"%}
                                                    <input type="checkbox" class="custom-control-input" checked="true"
                                                           id="checkFemale">
                                                    {% else %}
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="checkFemale">
                                                    {% endif %}

                                                    <label class="custom-control-label" for="checkFemale">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; margin-top:-48px; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.ethnic.ethnic_name}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.nationality.nationality_name}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.permanent_address}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">{{current_user.user.home_town}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;"
                                           class="form-control form-control-user">Student</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="p-5">
                                    {% for field in image_fields %}
                                    <div class="form-group form-group-element">
                                        <div class="form-control form-control-user"
                                             style="position: relative; padding-top:7px; padding-bottom:20px; font-size:15px;">
                                            <div class="form-group row pb-5">
                                                <div class="col-sm-9">
                                                    <p>{{ field.field_name}}</p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label>
                                                        Upload
                                                        <input id="file-input" name="{{field.id}}" type="file"
                                                               style="visibility: hidden;"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="{{field.id}}" class="preview"></div>
                                    </div>  
                                    {% endfor%}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group row pb-5"
                             style="margin-top:-30px; margin-bottom:-20px; padding-top:-10px">
                            <div class="col-sm-6">
                                <a style="margin-left:190px; width:200px;" href="/login" class="btn btn-google btn-user btn-block">Cancel</a>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block" style="margin-left:50px; width:200px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>
<script>
    var fileInput = document.querySelectorAll('input[type="file"]');
</script>
{% if resume_images is defined %}
<script>

    
    let resumeImages = JSON.parse('{{ resume_images | tojson | safe}}');
    let denied = JSON.parse('{{ denied | tojson | safe }}');
    if(denied == false){
        document.querySelector('input[type="submit"]').setAttribute('disabled','');
    }
    let previewItemList = document.querySelectorAll('.preview'); 
    for(let i = 0; i < previewItemList.length; i++)
    {
        if(denied == false){
            fileInput[i].setAttribute("disabled", "");
        }
        let image = new Image();
        image.height = 100;
        image.title = previewItemList[i].getAttribute('id');
        image.src = resumeImages[i][`${previewItemList[i].getAttribute('id')}`];
        previewItemList[i].appendChild(image);
    }
</script>
{% endif %}

<script>
    
    fileInput.forEach(el => el.addEventListener('change', (el) => {
        let parentElement = el.currentTarget.closest('.form-group-element');
        let previewItem = parentElement.querySelector('.preview');
        
        if(el.currentTarget.files){
            [].forEach.call(el.currentTarget.files, readAndPreview);
        }

        function readAndPreview(file) {
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else...
            previewItem.innerHTML ='';
            var reader = new FileReader();

            reader.addEventListener("load", function() {
                var image = new Image();
                image.height = 100;
                image.title  = file.name;
                image.src    = this.result;
                previewItem.appendChild(image);
            });

            reader.readAsDataURL(file);
        }

    }));






</script>

<!-- Bootstrap core JavaScript-->
<script src="/static/confirm/vendor/jquery/jquery.min.js"></script>
<script src="/static/confirm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/confirm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/confirm/js/sb-admin-2.min.js"></script>

</body>

</html>