{% extends 'admin/master.html' %}
{% block body %}
<div class="row">
    <div class="card" style="position: relative; width:90%; margin:auto; text-align: center;">
        <div class="card-header bg-primary">
            <h5 class="text-white" style="text-align: center;">BẢNG ĐIỂM</h5>
        </div>
    </div>

    <div style="background: white; height: 0px; padding-top:10px; padding-bottom:-30px; position: relative;
                width:90%; margin:auto; text-align: center;"></div>
</div>

<div class="row">
    <div class="card"
         style="background: white; height: 40px; padding-top:10px; padding-bottom:-30px; position: relative; width:90%; margin:auto; text-align: center;">
        <div class="form-group row pb-5" style="padding-bottom: -50px;">
            <div class="col-sm-4">
                <div class="form-group row pb-5">
                    <div class="col-sm-3">
                        <h6 class="text-primary"><b>Học kỳ:</b></h6>
                    </div>
                    <div class="col-sm-9">
                        <h6 style="text-align: left;">{{semester}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row pb-5">
                    <div class="col-sm-4">
                        <h6 class="text-primary"><b>Năm học:</b></h6>
                    </div>
                    <div class="col-sm-8">
                        <h6 style="text-align: left;">{{schoolYear}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card"
         style="background: white; padding-top:10px; padding-bottom:-30px; position: relative; width:90%; margin:auto; ">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    {% for item in listTitle %}
                    <th scope="col">{{item}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for indexRow in range(row) %}
                <tr>
                    {% for indexColumn in range(column) %}
                    <td>{{detailsTranscript[indexRow][indexColumn]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="card"
         style="position: relative; width:90%; margin:auto; padding-top:8px; text-align: center; height: 50px;">
        <div class="form-group row pb-5" style="padding-bottom: -20px; padding-top:5px; height: 10px;">
            <div class="col-sm-10" style="position: relative; text-align:right;">
                <p><strong>Điểm Trung Bình {{semester}}:</strong></p>
            </div>
            <div class="col-sm-2" style="text-align: left;">
                <p><strong>{{avgYear}}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock  %}